### FILE

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from Functions.air_distance import haversine

In [25]:
df = pd.read_csv('Data/CombinedData.csv',encoding='utf-8',low_memory=False)

In [26]:
df.columns

Index(['link', 'category', 'category_from_list', 'title', 'address', 'price',
       'agency', 'longtitude', 'latitude', 'area', 'landarea', 'purpose',
       'buildingtype', 'elevator', 'floorcount', 'roomcount', 'bathroomcount',
       'newbuilded', 'furniture', 'garagecount', 'repairstatus', 'balcony',
       'guests', 'domophone', 'doorman', 'playground', 'coveredparking',
       'outdoorparking', 'garage_tr_fl', 'househas', 'childer', 'animal',
       'utilitypayment', 'prepayment', 'description'],
      dtype='object')

In [20]:
df['category_from_list'].unique()

array(['apartments-long_term-rent', 'apartments-sale',
       'commercial-estate-offices-rent', 'commercial-estate-sale',
       'daily-apartments-rent', 'daily-house-rent', 'event-venues',
       'garages-parking-slots-rent', 'garages-parking-slots-sale',
       'houses-rent', 'houses-sale', 'land-rent', 'land-sale',
       'new-apartments-sale', 'new-houses-sale', 'rooms-daily-rent',
       'rooms-rent', 'tnak-krpak-rent', 'tnak-krpak-sale'], dtype=object)

In [4]:
df.rename(columns={'childer' : 'children'},inplace=True)

In [5]:
YEREVAN_CENTER_LAT,YEREVAN_CENTER_LONG = 40.18111, 44.51361
df['distance_from_center'] = df.apply(lambda row: haversine(YEREVAN_CENTER_LAT,YEREVAN_CENTER_LONG, row['latitude'],row['longtitude']),axis=1)

In [34]:
filt = (df['category_from_list'] == 'apartments-sale')
filtered_df = df[filt]
filtered_df[filtered_df['area'].isna()]['area']

17134    NaN
17162    NaN
17359    NaN
17390    NaN
17653    NaN
          ..
100359   NaN
100679   NaN
100687   NaN
100692   NaN
100713   NaN
Name: area, Length: 101, dtype: float64